body{
	background-color: white;
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
	font-size: 13px;
}
.info{
	top: 0;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	background: green;
	margin-bottom: 20px;

}
.header_wrapper{
	align-items: center;
	width: 100%;
	height: 100px;
}
.main_wrapper{
	width: 100%;
}

.mynavbar{
	margin: auto;
	top: 0;
	width: 100%;
	text-align: center;
}
.content_wrapper{
	width: 100%;
	height: 700;	
}

.MainSection{
	width: 80%;
	height: 700px;
	float: right;
}

.SideBar{
	margin:auto;
	top:0;
	width: 19%;
	height: 700px;
	float: left;
	color: black;
}

#signuplogin{
	top: 0;
	width: 100%;
	margin: auto;
	float: right;
}
#signuplogin li{
	list-style: none;
	display: inline;
	margin-left: 10px;
}
#signuplogin a{
	margin-left:5px;
	color: black;
	text-decoration: none;
	font-size: 17px;
}

#menu{
	top: 0;
	margin: auto;
	margin-left: 30%;
	margin-right: 30%;
	line-height: 20px;
}
#menu li{
	list-style: none;
	display: inline;
	margin-left: 50px;
}
#menu a{
	margin-left:20px;
	color: black;
	text-decoration: none;
	font-size: 17px;
}
#menu a:hover{
	text-decoration: underline;color: black;
	font-weight: bold;
}
.form{
	top: 0;
	margin: auto;
	margin-top: -35px;
	float: right;
}

#sidebar_title{
	margin:auto;
	top: 0;
	color: black;
	padding: 10px;
	font-size: 18px;

}
#category{
	text-align: center;
	font-size: 17px;
}

#category li{
	list-style: none;
	font-size: 17px;
	padding: 7px;
	font-family: Montserrat-Regular, sans-serif;
	background-color: black;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 3px;

}

#category a{
	color: #CE2175; 
	font-size: 17px;
	text-decoration: none;
}

#category a:hover{
	/*text-decoration: underline;*/
	color: #AD0958;
	font-weight: bold;
}
#category li:hover{
	/*text-decoration: underline;*/
	color: black;
	font-weight: bold;
	background-color: white;

}

.offers{
	height: 30px;
	background-color: yellow;
	border-radius: 5px;
	margin-top: 15px;
}
.footer{
	margin:auto;
	top: 0;
	width: 100%
	height:40px;
	margin-top: 10px;
	background-color: red;
	text-align: center;
	color: white;

}