body{
	background-color: #4863A0;
}
#header{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #C2DFFF;
	border:0px;

}

#text{
	margin-top: 70px;
	font-size: 30px;
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
	line-height: 0px;
	text-align: center;
}
